<div class="center-align">

  <h1>Today's mood</h1>
  <p class="emoji">
    <%= render "partials/emoji" %>
  </p>

  <div class="fixed-action-btn">
    <%= link_to edit_mood_path(@mood), class: 'btn-large btn-floating red' do %>
      <i class="large material-icons">mode_edit</i>
    <% end %>
  </div>
</div>
