<div class="text-center">

  <h1>Today's mood</h1>
  <p class="emoji">
    <%= render "partials/emoji" %>
  </p>


  <%= link_to 'Edit', edit_mood_path(@mood), class: 'btn btn-primary btn-lg' %>
</div>
