<section class="center-align quota">
  <h1>Today's mood</h1>

  <p>
    Current mood for today is
    <%= render "partials/emoji" %>
  </p>

  <hr>

  <p>
    You have already set today's mood.
    <br>
    Update it or come back tomorrow
  </p>

  <div class="fixed-action-btn">
    <%= link_to edit_mood_path(@mood), class: 'btn-large btn-floating red' do %>
      <i class="large material-icons">mode_edit</i>
    <% end %>
  </div>
</section>
