// Place all the styles related to the moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mood-radios {
  margin-bottom: 50px;

  .col:nth-child(even) {
    padding-bottom: 40px;
  }
  label {
    font-size: 45px !important;
    transition: transform 250ms ease-in-out;
    padding: 25px;
  }

  label:before, label:after {
    display: none;
  }

  input[type="radio"]:checked+label {
    transform: scale(1.6);
  }
}
