

// bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "typography";
@import "moods";
@import "scaffolds";
@import "stats";
@import "flash-message";




.emoji {
  font-size: 100px;
}


h1 {
  font-size: 6rem;

}

body {
  color: #303A52;
}


.stats-wrapper {
  margin-top: 20px;
  margin-left: 20px;
}
