@import "variables";
@import "materialize";
@import "typography";
@import "moods";
@import "scaffolds";
@import "stats";
@import "flash-message";
@import "quota";


.container {
  margin-bottom: 50px;
}

.emoji {
  font-size: 100px;
}


h1 {
  font-size: 6rem;

}

body {
  color: #303A52;
}


.stats-wrapper {
  margin-top: 20px;
  margin-left: 20px;
}
