<p>You have had <%= @love.count %> love days</p>
<p>You have had <%= @happy.count %> happy days</p>
<p>You have had <%= @neutral.count %> neutral days</p>
<p>You have had <%= @sad.count %> sad days</p>
